{% extends 'base.html' %}
{% block body %}
<div id="content" class="main">


	        	<div class="page-header text-center" style="background-image: url('/static/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">About us</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
           <div class="mb-4"></div><!-- End .mb-4 -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p>We are a non-profit organization dedicated to our bringing health, happiness and dignity for all. Over the last 10 years, we are taken great strides to bring about meaningful and sustainable change, which are defined by our values of family first, innovation and quality, dignity, equality, inclusiveness, empowerment of women, compassion, empathy, transparency and accountability.</p>
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p>We provides services to families to help clients remain in their home.
We enable the client to maintain an optimum level of well-being while maximizing their independence and freedom of choice at a very affordable cost for both long and short-term care.
Clients and their families receive one-on-one attention from our professional staff.</p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">What We Do</h2><!-- End .title -->
                                <p class="lead text-primary mb-3">Provided quality in-home health care for the elderly</p><!-- End .lead text-primary -->
                                <p class="mb-2">The Home and Community Care program has been specifically designed to address the needs of the elderly and chronically ill who often require compassionate health care at home. Whether you want to create a safe environment for your loved one while you are at work.</p>

                                <a href="blog.html" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                                    <span>Read More</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                    <img src="/static/assets/images/banner_3.jpg" alt="" class="">

                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->






            </div><!-- End .page-content -->
        </div><!-- End .main -->
{% endblock %}