{% extends 'base.html' %}

{% block body %}

<div id="content" class="main">
        	<div class="page-header text-center" style="background-image: url('/static/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Services</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Services</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">

                	<div class="row justify-content-center">

                		<div class="col-sm-6 col-lg-3">
                			<article class="entry entry-grid">
                				<figure class="cat-block">
                					<a href="{% url 'nurse-list' %}">
                						<img src="/static/assets/images/nurse_1.png" alt="image desc">
                					</a>
                				</figure><!-- End .entry-media -->

                				<div class="entry-body text-center">


                					<h2 class="entry-title">
                						<a href="single.html">Nurses</a>
                					</h2><!-- End .entry-title -->

                					<div class="entry-content">
                						<p></p>
                						<a href="single.html" class="read-more">Read More</a>
                					</div><!-- End .entry-content -->
                				</div><!-- End .entry-body -->
                			</article><!-- End .entry -->
                		</div><!-- End .col-lg-3 -->
						<div class="col-sm-6 col-lg-3">
                			<article class="entry entry-grid">
                				<figure class="cat-block">
                					<a href="{% url 'doctor-list' %}">
                						<img src="/static/assets/images/doctor1.png" alt="image desc">
                					</a>
                				</figure><!-- End .entry-media -->

                				<div class="entry-body text-center">


                					<h2 class="entry-title">
                						<a href="single.html">Doctors</a>
                					</h2><!-- End .entry-title -->

                					<div class="entry-content">
                						<p></p>
                						<a href="single.html" class="read-more">Read More</a>
                					</div><!-- End .entry-content -->
                				</div><!-- End .entry-body -->
                			</article><!-- End .entry -->
                		</div><!-- End .col-lg-3 -->
						<div class="col-sm-6 col-lg-3">
                			<article class="entry entry-grid">
                				<figure class="cat-block">
                					<a href="{% url 'medcart-list' %}">
                						<img src="/static/assets/images/goodcart.png" alt="image desc">
                					</a>
                				</figure><!-- End .entry-media -->

                				<div class="entry-body text-center">


                					<h2 class="entry-title">
                						<a href="single.html">Medcart</a>
                					</h2><!-- End .entry-title -->

                					<div class="entry-content">
                						<p></p>
                						<a href="single.html" class="read-more">Read More</a>
                					</div><!-- End .entry-content -->
                				</div><!-- End .entry-body -->
                			</article><!-- End .entry -->
                		</div><!-- End .col-lg-3 -->
						<div class="col-sm-6 col-lg-3">
                			<article class="entry entry-grid">
                				<figure class="cat-block">
                					<a href="{% url 'health_package-list' %}">
                						<img src="/static/assets/images/package.png" alt="image desc">
                					</a>
                				</figure><!-- End .entry-media -->

                				<div class="entry-body text-center">


                					<h2 class="entry-title">
                						<a href="single.html">Health Package</a>
                					</h2><!-- End .entry-title -->

                					<div class="entry-content">
                						<p></p>
                						<a href="single.html" class="read-more">Read More</a>
                					</div><!-- End .entry-content -->
                				</div><!-- End .entry-body -->
                			</article><!-- End .entry -->
                		</div><!-- End .col-lg-3 -->
						<div class="col-sm-6 col-lg-3">
                			<article class="entry entry-grid">
                				<figure class="cat-block">
                					<a href="{% url 'diagnostic-list' %}">
                						<img src="/static/assets/images/lab_test.png" alt="image desc">
                					</a>
                				</figure><!-- End .entry-media -->

                				<div class="entry-body text-center">


                					<h2 class="entry-title">
                						<a href="single.html">Diagnostic</a>
                					</h2><!-- End .entry-title -->

                					<div class="entry-content">
                						<p></p>
                						<a href="single.html" class="read-more">Read More</a>
                					</div><!-- End .entry-content -->
                				</div><!-- End .entry-body -->
                			</article><!-- End .entry -->
                		</div><!-- End .col-lg-3 -->


                	</div><!-- End .row -->



                </div><!-- End .container -->
            </div><!-- End .page-content -->


        </div><!-- End .main -->


{% endblock %}