{% for n in data %}
                                <div class="product product-list">
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">

                                                <a href="{{n.id}}">
                                                    <img src="{{n.image.url}}" alt="Product image" class="product-image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">

                                                <a href="{{n.id}}" class="btn btn-primary btn-rounded"><span>Visit Profile</span></a>
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">


                                                <h3 class="product-title"><a href="{{n.id}}">{{n.name}}</a></h3><!-- End .product-title -->

                                                <div class="product-cat">
                                                    <a href="#">{{n.speciality}}</a>
                                                </div><!-- End .product-cat -->
												<p style="color:#2f1b5e;">Service Area: <b>{{n.service_area}}</b></p>
												<p><b><i class="fa fa-stethoscope"></i> {{n.experience}}</b></p>


                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .product -->
								{% endfor %}